{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'register.css' %}">
    <title>REGISTER</title>
</head>
<body>
    <h1 class="header" >REGISTER</h1>
    <div>
        <form action="" method="POST">
            {% csrf_token %}
            <input class="text" type="text" name="first_name" placeholder="first_name"><br>
            <input class="text" type="text" name="last_name" placeholder="last_name"><br><br>
            <input class="text" type="text" name="username" placeholder="username"><br><br>
            <!--input class="text" type="email" name="email" placeholder="email"><br><br!-->
            <input class="text" type="password" name="password1" placeholder="password"><br>
            <input class="text" type="password" name="password2" placeholder="confirmpassword"><br>
            <div>
                {% for message in messages %} 
        
                    <h1 class="message" > {{ message }}</h1>
        
                {% endfor %}
            </div>
            <br>
            <input class="button" type="submit">
        </form>
    </div>
   
</body>
</html>